.checkbox__price {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  width:8.0625rem;
  justify-content: center;
  align-items: center;
}
input[type=checkbox] {
  display: none;
}
.checkbox__label {
  display: inline-flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}
.checkbox__label:after {
  content: '';
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.5px solid #606060;
  box-sizing: border-box;
  border-radius: 3px;
  margin-left: 0.4375rem;
  margin-right: 0.4375rem;
  cursor: pointer;
}
input[type=checkbox]:checked + .checkbox__label:after {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}