.filter_container {
  height: 177px;
  width: 345px;
  border-radius: 5px;
  background-color: #ECECEC;
  list-style: none;
  position: relative;
  display: inline-flex;

}
.filter-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  position: absolute;
  height: 45%;
}
.filter_item {
  height: 55px;
  display: flex;
  
}
.filter-expand {
  color: #00A54D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  cursor: pointer;
}