.dropdown__list {
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #606060;
}
.dropdown__list.dropdown__list-onclick {
  display: none;
}
.dropdown__item {
  cursor: pointer;
}
.sorting-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
}
.sort_content {
  display: inline-flex;
}
#sorting-name {
  margin-right: 1.1875rem;
}
#sorting-count {
  margin-right: 0.6875rem;
}
.dropdown-select {
}
.dropdown-select-name {
  height: 2.0625rem;
  width: 8rem;
}
.dropdown-select-count {
  height: 2.0625rem;
  width: 3.125rem;
}
.dropdown-select__container {
  color: #00A54D;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  border-radius: 3px;
  background-color: #ECECEC;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: 2.0625rem;
  width: 8rem;
}
