mixin add(title)
  .add__title
  .add__button  
    .add__button-content  
      .button-minus -
      .button-count 1
      .button-plus +

+add('default')
+add(':on click (+)')
+add(':on click (-)')
