.filter_container
  .filter_content 
    .filter_list 
      li.filter_item 
        h3.filter-name Цена
        .filter-expand Развернуть
      li.filter_item
        h3.filter-name Бренд
        .filter-expand Развернуть
      li.filter_item
        h3.filter-name Особенность
        .filter-expand Развернуть
     

