.filter_container
  .filter_content 
    .filter_list 
      li.filter_item 
        h3.filter-name Цена
      li.filter_item
        h3.filter-name Бренд
      li.filter_item
        h3.filter-name Особенность
     

