.pagination 
  a(href='#').pagination__previous
    img(src='./img/pagination/arrow.svg') 
  a(href='#').pagination__link.pagination__link-active 1
  a(href='#').pagination__link 2
  a(href='#').pagination__link 3
  a(href='#').pagination__link 4
  a(href='#').pagination__link ...
  a(href='#').pagination__link 60
  a(href='#').pagination__next 
    img(src='./img/pagination/arrow-active.svg') 