include add_btn
mixin product(img, name, weight, oldPrice, price)
  li.product-item
    img(src= img).product-img
    .product-about
      h3.product-name= name
      span.product-weight= weight 
    .price-list
      .old-price= oldPrice
      .actual-price= price
    .product-btn  
      .product-count 
      .product-add В корзину
      

       


ul.product-list 
  +product('./img/product/product_1.png', 'Копченая паприка Santa Maria,', '230г', '643', '449 p.')
  +product('./img/product/product_1.png', 'Копченая паприка Santa Maria,', '230г', '', '449 p.')