.sort_content
  .sorting-title#sorting-name Сортировать по
  .sorting-dropdown.sorting-dropdown-name
    .dropdown-content#dropdown-name 
      .dropdown-select__container
        .dropdown-select.dropdown-select-name популярности
        .dropdown-select-arrow  
          img(src='./img/sortArrow.svg')
      ul.dropdown__list.dropdown__list-name 
        li.dropdown__item-name популярности
        li.dropdown__item-name названию А-Я
        li.dropdown__item-name названию Я-А
        li.dropdown__item-name возрастанию цены
        li.dropdown__item-name убыванию цены
.sort_content          
  .sorting-title#sorting-count Товаров на странице
  .sorting-dropdown.sorting-dropdown-count
    .dropdown-content#dropdown-count 
      .dropdown-select.dropdown-select-count 6
      ul.dropdown__list.dropdown__list-count 
        li.dropdown__item-count  6
        li.dropdown__item-count  12
        li.dropdown__item-count  18
        li.dropdown__item-count  24



